In [1]:
import pandas as pd

In [2]:
ml100k_interactions = pd.read_csv('/workspace/gregorio/gobrec/experiments/datasets/ml-100k/u.data', sep='\t', names=['user_id', 'item_id', 'rating', 'timestamp'])
ml100k_interactions

       user_id  item_id  rating  timestamp
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
...        ...      ...     ...        ...
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [3]:
ml100k_items = pd.read_csv('/workspace/gregorio/gobrec/experiments/datasets/ml-100k/u.item', sep='|', names=['item_id', 'title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'], encoding='latin-1')
ml100k_items

,item_id,title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
genres = ['unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
ml100k_items = ml100k_items[['item_id'] + genres]
ml100k_items

,item_id,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1678,1679,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1679,1680,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1680,1681,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1681,1682,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [5]:
ml100k_interactions_items = ml100k_interactions.merge(ml100k_items, on='item_id', how='left')
ml100k_interactions_items

,user_id,item_id,rating,timestamp,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,881250949,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,186,302,3,891717742,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
2,22,377,1,878887116,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,244,51,2,880606923,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
4,166,346,1,886397596,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,880,476,3,880175444,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
99996,716,204,5,879795543,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
99997,276,1090,1,874795795,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
99998,13,225,2,882399156,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
99999,12,203,3,879959583,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
ml100k_interactions_items['genres_sum'] = ml100k_interactions_items[genres].sum(axis=1)
ml100k_interactions_items

,user_id,item_id,rating,timestamp,unknown,Action,Adventure,Animation,Children's,Comedy,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,genres_sum
0,196,242,3,881250949,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,186,302,3,891717742,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,4
2,22,377,1,878887116,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,2
3,244,51,2,880606923,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,4
4,166,346,1,886397596,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,880,476,3,880175444,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
99996,716,204,5,879795543,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,2
99997,276,1090,1,874795795,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
99998,13,225,2,882399156,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,2
99999,12,203,3,879959583,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [7]:
ml100k_cumsum = ml100k_interactions_items.groupby('user_id')[['genres_sum'] + genres].cumsum()
contexts = ml100k_cumsum[genres].to_numpy() / ml100k_cumsum['genres_sum'].to_numpy()[:, None]
contexts

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.25      , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.14298643, 0.06877828, ..., 0.12217195, 0.02533937,
        0.01085973],
       [0.        , 0.122738  , 0.05743509, ..., 0.09520063, 0.03225806,
        0.01022817],
       [0.        , 0.125     , 0.0625    , ..., 0.10714286, 0.0625    ,
        0.01785714]])

In [9]:
ml100k_interactions[ml100k_interactions['user_id'] == 1].index.to_numpy()

array([  202,   305,   333,   334,   478,   639,   687,   820,   933,
         972,  1167,  1299,  1382,  1440,  1617,  1780,  1989,  2328,
        3049,  3059,  3171,  3191,  3234,  3246,  3248,  3260,  3358,
        3377,  3431,  3710,  3733,  3836,  3888,  3909,  4001,  4070,
        4165,  4177,  4232,  4280,  4290,  4306,  4411,  4839,  4919,
        4963,  4974,  5141,  5233,  5260,  5533,  5555,  5682,  5716,
        5773,  5842,  5909,  6028,  6212,  6234,  6541,  6567,  6649,
        6965,  7101,  7158,  7180,  7561,  7993,  8597,  8737,  8745,
        8834,  8844,  8976,  9170,  9224,  9255,  9307,  9382,  9566,
        9692,  9722,  9811,  9971, 10207, 10480, 10508, 10520, 10922,
       11080, 11154, 11321, 11663, 11807, 11859, 12011, 12183, 12457,
       12516, 12948, 13030, 13165, 13542, 13575, 13638, 14025, 14079,
       14425, 14792, 14930, 15270, 15292, 15299, 15638, 15764, 15932,
       16053, 16314, 16455, 16590, 16673, 16922, 17031, 17220, 17297,
       17672, 17863, 17988, 18304, 18313, 18695, 18796, 19610, 19699,
       19722, 19996, 20153, 20175, 20470, 20952, 20970, 21152, 21626,
       21947, 22496, 22669, 22845, 22971, 23028, 23095, 23128, 23171,
       24493, 24547, 24896, 25138, 25255, 25721, 26687, 26974, 27216,
       27235, 27949, 28430, 30479, 31243, 31376, 31650, 31742, 31856,
       31991, 32015, 32151, 32236, 33909, 34026, 34165, 34550, 34642,
       35389, 35409, 36844, 36878, 37810, 37820, 38193, 38697, 38751,
       39296, 39865, 40519, 40600, 40756, 40783, 41842, 42456, 43263,
       43280, 43438, 43859, 44074, 45483, 45732, 45796, 47521, 47539,
       47638, 47860, 48078, 48214, 49853, 50026, 50156, 50736, 50792,
       51295, 51616, 53552, 54634, 55001, 55636, 56067, 56312, 56881,
       57256, 57423, 58377, 59055, 59972, 60926, 62069, 62631, 62649,
       62820, 66567, 67079, 67098, 70168, 70539, 73358, 73972, 74577,
       74847, 75385, 77073, 77238, 77630, 78171, 78695, 78817, 81463,
       81568, 82444, 82786, 83307, 84793, 85377, 85557, 86585, 87831,
       87967, 88021, 88259, 88262, 88893, 89876, 92049, 92487, 94019,
       96699, 99073])

In [12]:
ml100k_interactions_items[ml100k_interactions['user_id'] == 1][genres]

,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
202,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
305,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
333,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
334,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
478,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92049,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
92487,0,1,1,0,0,0,0,0,1,0,0,0,0,0,1,1,0,1,0
94019,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
96699,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
99073,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [14]:
pd.DataFrame(contexts[ml100k_interactions[ml100k_interactions['user_id'] == 1].index.to_numpy()], columns=genres)

,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.333333,0.000000,0.333333,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.166667,0.000000,0.166667,0.000000,0.166667,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.166667,0.000000,0.000000
3,0.000000,0.142857,0.000000,0.142857,0.000000,0.142857,0.000000,0.000000,0.285714,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.000000,0.142857,0.000000,0.000000
4,0.000000,0.111111,0.000000,0.111111,0.000000,0.111111,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.222222,0.000000,0.111111,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,0.001736,0.128472,0.071181,0.020833,0.041667,0.152778,0.043403,0.008681,0.184028,0.003472,0.001736,0.022569,0.022569,0.008681,0.074653,0.071181,0.090278,0.041667,0.010417
268,0.001718,0.128866,0.072165,0.020619,0.041237,0.151203,0.042955,0.008591,0.183849,0.003436,0.001718,0.022337,0.022337,0.008591,0.075601,0.072165,0.089347,0.042955,0.010309
269,0.001715,0.128645,0.072041,0.020583,0.041166,0.152659,0.042882,0.008576,0.183533,0.003431,0.001715,0.022298,0.022298,0.008576,0.075472,0.072041,0.089194,0.042882,0.010292
270,0.001709,0.128205,0.071795,0.020513,0.041026,0.153846,0.042735,0.008547,0.182906,0.003419,0.001709,0.022222,0.022222,0.008547,0.075214,0.073504,0.088889,0.042735,0.010256
271,0.001704,0.127768,0.071550,0.020443,0.042589,0.155026,0.042589,0.008518,0.182283,0.003407,0.001704,0.022147,0.022147,0.008518,0.074957,0.073254,0.088586,0.042589,0.010221

In [15]:
# Precisa arrumar problema que os contextos incluem o item atual.
import numpy as np

for user_id in ml100k_interactions['user_id'].unique():
    user_indices = ml100k_interactions[ml100k_interactions['user_id'] == user_id].index.to_numpy()
    user_contexts = contexts[user_indices]
    user_contexts_shifted = np.roll(user_contexts, shift=1, axis=0)
    user_contexts_shifted[0] = 0  # Primeiro contexto Ã© zero
    contexts[user_indices] = user_contexts_shifted

In [16]:
pd.DataFrame(contexts[ml100k_interactions[ml100k_interactions['user_id'] == 1].index.to_numpy()], columns=genres)

,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.333333,0.000000,0.333333,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.166667,0.000000,0.166667,0.000000,0.166667,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.166667,0.000000,0.000000
4,0.000000,0.142857,0.000000,0.142857,0.000000,0.142857,0.000000,0.000000,0.285714,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.000000,0.142857,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,0.001745,0.127400,0.071553,0.020942,0.041885,0.153578,0.043630,0.008726,0.183246,0.003490,0.001745,0.022688,0.022688,0.008726,0.075044,0.071553,0.089005,0.041885,0.010471
268,0.001736,0.128472,0.071181,0.020833,0.041667,0.152778,0.043403,0.008681,0.184028,0.003472,0.001736,0.022569,0.022569,0.008681,0.074653,0.071181,0.090278,0.041667,0.010417
269,0.001718,0.128866,0.072165,0.020619,0.041237,0.151203,0.042955,0.008591,0.183849,0.003436,0.001718,0.022337,0.022337,0.008591,0.075601,0.072165,0.089347,0.042955,0.010309
270,0.001715,0.128645,0.072041,0.020583,0.041166,0.152659,0.042882,0.008576,0.183533,0.003431,0.001715,0.022298,0.022298,0.008576,0.075472,0.072041,0.089194,0.042882,0.010292
271,0.001709,0.128205,0.071795,0.020513,0.041026,0.153846,0.042735,0.008547,0.182906,0.003419,0.001709,0.022222,0.022222,0.008547,0.075214,0.073504,0.088889,0.042735,0.010256